/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.line{
	overflow:hidden;
	*overflow:visible;
	*zoom:1;
	clear:both;
}
.span1{
	width:99%;
}
.span2,
.span3,
.span4,
.span2of3,
.span3of4{
	width:99%;
}
.unit{
	padding:.5em 0;
}
.left,
.right{
	float:none;
}
body {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 1em;
	line-height: 1.7em;
	margin: 1em 0;
}
i {
	font-style: italic;
}
p small {
	font-size: .5em;
	line-height: .5em;
}
a { 
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #fff;
		padding-bottom: .25em;
}
a:active,
a:hover {
  position: relative;
  top: -1px;
}
.more-images a {
	border-bottom: none;
	padding-bottom: 0;
}
.more-images a:active,
.more-images a:hover {
	position: static;
}
img {
	max-width: 100%;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: Lato, sans-serif;
}
h1, 
h2 {
	text-transform: uppercase;
}
h1 span, 
h2 span, 
h3 span, 
h4 span, 
h5 span, 
h6 span,
.definition span {
	font-weight: bold;
}
h1 span,
#nav h3 span {
	display: block;
}
h1 {
	font-size: 3em;
	padding: .5em 0;
}
h2 {
	font-size: 1.75em;
	padding: .4em 0 .7em;
	line-height: 1.2em;
}
h3 {
	font-weight: bold;
	font-size: 1.8em;
	padding: .8em 0;
}
#nav h3 {
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	font-size: 2.0em;
}
h3.choices  {
	text-align: center;
	font-size: 1.5em;
}
.true-story h3 {
	font-weight: normal;
	font-size: 1.5em;
	text-align:center;
}
.allcaps {
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}
a.choice {
	display: block;
	text-align:center; 
	text-decoration: none; 
	line-height: 1.8em;
}
.opacity #whatdoyouthink label {
	display: block;
	cursor: pointer;
	text-align:center; 
	line-height: 1.8em;
}
.opacity a.choice,
.opacity #whatdoyouthink label { 
	height: auto; 
	width: 80%; 
	padding: 1em 5%; 
	margin: 0 auto; 
	border: 1px solid #fff; 
	transition: background-color 0.4s ease;
}
.opacity a.choice:hover,
.opacity #whatdoyouthink label:hover { 
	background-color: #2e3192; 
}
.center { 
	text-align: center;
}
.next { 
	margin-top: 1.5em; 
}
.oe-panel { 
	color: #fff; 
	padding: 0 3% 1em; 
}
.oe-orange { 
	background-color:  #cc4d00; /* Original - #fd8303 made more accessible */ 
}
.oe-fuschia { 
	background-color: #cf407a; /* Original - #cf409a made more accessible */ 
}
.oe-blue { 
	background-color: #2A7CB7; /* Original - #2aace3 made more accessible */ 
}
.oe-green { 
	background-color: #2B8800; /* Original - #2bb673 made more accessible */ 
}
.oe-purple { 
	background-color: #2e3192; 
}
.oe-ia-selected {
	/* Override other selections on interactive boxes */
	/*background-color: #fff !important;*/
	background: #fff url(../img/check.png) top right no-repeat !important;
	color: #333 !important;
	display: block;
	text-align:center; 
	text-decoration: none; 
	line-height: 1.8em;
}
.opacity .oe-ia-selected { 
	height: auto; 
	width: 80%; 
	padding: 1em 5%; 
	margin: 0 auto; 
	border: 1px solid #fff; 
}
.quote { 
	background-color: #575757; 
	color: #efefef; 
	font-size: 1.5em; 
	padding: 2em 3%;
}
.quote blockquote cite:before { 
	content:"\2014"; 
}
.answer {
	margin-top: -1em;
	text-align:left;
	color: #333;
	background-color: #fff;
	padding: .5em 5%;
	
}
.opacity .answer {
	border: 1px solid rgba(26,53,71,.12);
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(26,53,71,.1);
	opacity: 0;
	pointer-events: none;
	-webkit-transform: scale(.8) translateY(-30%);
	transform: scale(.8) translateY(-30%);
	transition: .4s cubic-bezier(.3, 0, 0, 1.3);
	height: 0;
	background-color: #fff;
}
.opacity .answer.visible {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: none;
	transform: none;
	height: auto;
}
.no-opacity .answer {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #fff;
	
}
.choices-block div.span2 {
	position: relative;
}
.nextpanel,
.button { 
	text-align: center;
	background: #ddd;
	display: inline-block;
	padding: .5em 1em;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	transition: .25s;
	text-decoration: none;
}

.nextpanel:hover { 
	background: #bbb;
}
#moreresources a.more {
	font-size: 1.2em;
	margin: -.5em 0 1.5em;
	display: inline-block;
}
li.list-block {
	margin: .8em 0;
}
li.list-block a {
	text-decoration: none;
}
li.list-block textarea { 
	width: 96%; 
	padding: .5em 2%; 
}
input[type="submit"] {
	text-align: center;
	display: inline-block;
	padding: .5em 1em;
	color: #fff;
	border: none;
	text-decoration: none;
	font-size: 1.5em;
}
.submit {
	text-align: center;
	display: inline-block;
	padding: .5em 3%;
	color: #fff;
	border: none;
	text-decoration: none;
	font-size: 1.5em;
	float: right;
}

/* Styles to control the CSS fading bits */

@-webkit-keyframes qFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes qFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes qFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}


@keyframes qFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#question-slider {
  	position:relative;
  	width:106%;
	height: 4em;
	text-align: center;
  	margin: 2em 0 3em -3%;
	margin-bottom: 3em;
}
.cssanimations {
	height: 4em;
}

#question-slider h2 {
	width: 100%; 	
}
.cssanimations #question-slider h2.q0 {
	height: 3.5em !important; 	
}
.cssanimations #question-slider h2 {
	position:absolute;
	left:0;
	top: 50%;
	transform: translate(0, -50%);
	height: 100%;

}

.cssanimations #question-slider h2 {
  -webkit-animation-name: qFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 24s;

  -moz-animation-name: qFadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 24s;

  -o-animation-name: qFadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 24s;

  animation-name: qFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 24s;
}
.cssanimations #question-slider h2:nth-of-type(1) {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
}
.cssanimations #question-slider h2:nth-of-type(2) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s;
}
.cssanimations #question-slider h2:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
.cssanimations #question-slider h2:nth-of-type(4) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
}
.cssanimations #question-slider h2:nth-of-type(5) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
.cssanimations #question-slider h2:nth-of-type(6) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.cssanimations #question-slider h2:nth-of-type(7) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.footer {
	background-color: #575757; 
	color: #efefef;
	padding: 1em 3%;
}
.modal {
	display: block;
    position: absolute; 
    left: 25%;
    top: 40%; 
    padding: .75em 1.6em 1.6em; 
    border: 1px solid #fff;
    background-color: #2A7CB7;
    width: 50%;
    height: 10em;
    z-index: 100;
}
.modal textarea {
	display: block;
	width: 96%;
	padding: .5em 2%;
	font-size: 1.2em;
}
.modal .cancel {
	text-decoration: underline;
	cursor: pointer;
	margin-top: .9em;
	display: inline-block;
}
#fade {
    display: none;  
    position: absolute; 
    left: 0%; 
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7; 
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; 
}
.intro-break {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px dotted #fff;
}
#nav {
	padding-top: 3em;
}
#nav .primary-links {
	margin: 1.5em 0 3em;
}
#nav .secondary-links li {
	margin: 1em 0 1em 1em;
	float: none;
}

#access {
	background: #cc4d00 url(../img/oe-access-small.png) 100% -.25em no-repeat;
}
#code {
	background: #2B8800 url(../img/oe-code-small.png) 130% -.4em no-repeat;
}
#data {
	background: #2A7CB7 url(../img/oe-data-small.png) 101% -.3em no-repeat;
}
#books {
	background: #cf407a url(../img/oe-books-small.png) 134% -.3em no-repeat;
}
#nav #code-nav .choice {
		background: #2B8800 url(../img/oe-code-tiny.png) 102% -.25em no-repeat;
}
#nav #access-nav .choice {
	background: #cc4d00 url(../img/oe-access-tiny.png) 102% -.25em no-repeat;
}

#nav #books-nav .choice {
	background: #cf407a url(../img/oe-books-tiny.png) 102% -.25em no-repeat;
}

#nav #data-nav .choice {
	background: #2A7CB7 url(../img/oe-data-tiny.png) 102% -.25em no-repeat;
}
.downloads {
	margin: 4em 0;
}
#hostyourown {
	margin-top: 2em;
}

@media screen and (min-width: 28.125em) {
	.span4{
		width:49%;
		padding:.5em 1% .5em 0;
	}
	#whatdoyouthink label,
	#whatdoyouthink label.oe-ia-selected { 
		min-height: 8em;
	}	
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	#code {
		background: #2B8800 url(../img/oe-code-small.png) 110% -.4em no-repeat;
	}
	#books {
		background: #cf407a url(../img/oe-books-small.png) 120% -.3em no-repeat;
	}
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 140% -.25em no-repeat;
		}
		#nav #books-nav .choice {
			background: #cf407a url(../img/oe-books-tiny.png) 155% -.25em no-repeat;
		}
		#nav h3 {
			font-size: 1.6em;
		}
}

@media screen and (min-width: 34.375em) {
	.span3{
		width:32%;
		padding:.5em 1% .5em 0;
	}
	.span2of3{
		width:65%;
		padding:.5em 1% .5em 0;
	}
	#code {
		background: #2B8800 url(../img/oe-code-small.png) 102% -.4em no-repeat;
	}
	#books {
		background: #cf407a url(../img/oe-books-small.png) 104% -.3em no-repeat;
	}
	
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 120% -.25em no-repeat;
		}
		#nav #books-nav .choice {
			background: #cf407a url(../img/oe-books-tiny.png) 115% -.25em no-repeat;
		}
}

@media screen and (min-width: 40em) {
	

	
	/* Increase the padding on the text elements, match question slideshow */
	
	.oe-panel { 
		padding: 0 10% 1em; 
	}
	#question-slider {
		margin-left: -13%;
		width: 125.5%;
	}
	.cssanimations #question-slider h2 {
		height: 1.5em;
	}
	#question-slider h2 {
		padding: .7em 0 .5em;
	}
	.cssanimations #question-slider h2.q0 {
		height: 2.5em !important; 	
	}
	a.choice,
	#whatdoyouthink label { 
		min-height: 6em;
	}
	#whatdoyouthink label,
	#whatdoyouthink label.oe-ia-selected { 
		min-height: 10em;
	}
}

@media screen and (min-width: 48.75em) {
	
	/* Up the font size for headings */
	
	h1 {
		font-size: 6.5em;
	}
	#whatdoyouthink h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 2.5em;
	}
	h3.choices  {
		font-size: 3em;
		text-align: left;
	}

	.true-story h3,
	.more-images h3 {
		font-weight: normal;
		
	}
	.true-story h3 {
		font-size: 3em;
		text-align: left;
	}
	.quote { 
		font-size: 2.5em; 
		padding: 2em 10%;
	}
	.cssanimations #question-slider {
		height: 10em;
	}
	.cssanimations #question-slider h2 {
		height: 2em;
	}
	#access {
		background: #cc4d00 url(../img/oe-access.png) 100% -.1em no-repeat;
	}
	#code {
		background: #2B8800 url(../img/oe-code.png) 100% -.1em no-repeat;
	}

	#data {
		background: #2A7CB7 url(../img/oe-data.png) 101% -.3em no-repeat;
	}
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 105% -.25em no-repeat;
		}
		#nav #books-nav .choice {
			background: #cf407a url(../img/oe-books-tiny.png) 105% -.25em no-repeat;
		}
		#nav .secondary-links li {
			margin: 1em .5em;
			float: left;
		}
}

@media screen and (min-width: 56.25em) {
	.span2{
		width:49%;
		padding:.5em 1% .5em 0;
	}
	.span4{
		width:24%;
	}
	.span3of4{
		width:74%;
		padding:.5em 1% .5em 0;
	}
	#books {
		background: #cf407a url(../img/oe-books.png) 110% -.3em no-repeat;
	}
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 200% -1.75em no-repeat;
	}
	#nav #books-nav .choice {
		background: #cf407a url(../img/oe-books-tiny.png) 250% -.25em no-repeat;
	}
	#nav h3 {
		font-size: 1.6em;
	}
}

@media screen and (min-width:57.8125em) {
	
	.cssanimations #question-slider {
		height: 8.5em;
	}
	.cssanimations #question-slider h2 {
		height: 1.5em;
	}
	
	
}

@media screen and (min-width: 61em) {
	#books {
		background: #cf407a url(../img/oe-books.png) 102% -.3em no-repeat;
	}
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 130% -1.75em no-repeat;
	}
	#nav #books-nav .choice {
		background: #cf407a url(../img/oe-books-tiny.png) 175% -.25em no-repeat;
	}
}

@media screen and (min-width:76.5625em) {
	#question-slider h2.q0 {
		height: 1.5em !important; 	
	}
	#whatdoyouthink a.choice,
	#whatdoyouthink a.oe-ia-selected { 
		min-height: 7em;
	}
	#nav h3 {
		font-size: 1.9em;
	}
	#nav #code-nav .choice {
			background: #2B8800 url(../img/oe-code-tiny.png) 110% -1.25em no-repeat;
	}
	#nav #books-nav .choice {
		background: #cf407a url(../img/oe-books-tiny.png) 125% -.25em no-repeat;
	}
}